/* цвет основного текста #000000 */
/*

/* Вторичный цвет текста rgba(0,0,0.8);
    /*

/*белый #FFFFF*/
/* актент 18A0FB*/

/* вторичный цвет фона #F5F4FA;*/
/* доп цвет заголовка #2F303A*/

/*общие переменные*/
:root {
  --primary-text-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --whitе-color-text: #fff;
  --text-color: #000;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --header-line-color: #ececec;
  --projects-bgc: #eeeeee;
  --background-image-color: rgba(47, 48, 58, 0.4);
  --fill-icon: #afb1b8;
  --background-footer-link: rgba(255, 255, 255, 0.1);
  --color-contacts-footer-link: rgba(255, 255, 255, 0.6);
  --hover-button: #188ce8;
  --background-icon-work: rgba(47, 48, 58, 0.8);
  --background-projects: rgba(33, 150, 243, 0.9);
  --backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*общие*/
body {
  background-color: var(--whitе-color-text);
  color: var(--text-color);
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.footer {
  background: var(--background-color);
  padding: 60px 0;
}
.title {
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

/* контейнер геометрия*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.line {
  border-bottom: 1px solid var(--header-line-color);
}
.section {
  padding: 94px 0;
}
/*логотип*/
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-header {
  color: var(--text-color);
}
.logo-footer {
  color: var(--whitе-color-text);
}

/* sete nav*/

.nav-link {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  padding: 30px 0;
  display: block;
  transition: color 250ms var(--timing-function);
}

.current {
  color: var(--accent-color);
}
.current::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translate(0, 20%);
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
/* позиционирование nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-margin:not(:first-child) {
  margin-left: 50px;
}

/*коннтакты*/
.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts .contacts-link:not(:first-child) {
  margin-left: 50px;
}
.icon-contacts {
  margin-right: 10px;
}
/*footer*/
.footer-logo {
  margin-bottom: 20px;
}
.contacts-footer-link {
  background: var(--background-color);
  color: var(--color-contacts-footer-link);
  font-size: 14px;
  font-style: normal;
  line-height: 1.8;
  margin-top: 9px;
  display: inline-block;
  transition: color 250ms var(--timing-function);
}
.address-link {
  color: var(--whitе-color-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
}
.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}

.footer-box {
  display: flex;
}
.social {
  margin: 20px 0 0 70px;
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whitе-color-text);
}
.footer-link {
  display: flex;
}
.footer-link-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-link-item {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-footer-link);
  transition: background-color 250ms var(--timing-function);
}
.footer-link-item:hover,
.footer-link-item:focus {
  background-color: var(--accent-color);
}
.footer-icon-object {
  fill: var(--whitе-color-text);
}
.icon-features {
  fill: var(--fill-icon);
}
/* Hero*/
.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      var(--background-image-color),
      var(--background-image-color),
      var(--background-image-color)
    ),
    url(../images/new-Img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  color: var(--whitе-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*Button*/
.primary-button {
  color: var(--whitе-color-text);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--hover-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*особенности*/
.features {
  display: flex;
  justify-content: space-between;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

.features .features-parts {
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 120px);
}
.features .features-part:first-child {
  margin-left: 0px;
}
.icon-features {
  padding: 25px 100px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icons {
  width: 70px;
  height: 70px;
}
/*чем мы занимаемся*/
.work {
  padding-top: 0px;
}

.work {
  display: flex;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
}
.work-title {
  position: relative;
}
.work-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  background-color: var(--background-icon-work);
}
.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: var(--whitе-color-text);
}
/*позиции наша команда*/
.team {
  display: flex;
  justify-content: space-between;
}
.team .team-specialist {
  flex-wrap: wrap;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*Наша команда*/
.title {
  text-align: center;
  margin-bottom: 50px;
}
.team.section {
  background: var(--secondary-background-color);
}

.teammate-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-color);
  text-transform: uppercase;
}
.teamposition {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
}
.text-specialist {
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--whitе-color-text);
}
.social-link {
  display: flex;
  padding: 16px 32px 0 32px;
}
.social-link-icon:not(:last-child) {
  margin-right: 10px;
}
.social-link-item {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--fill-icon);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
  fill: var(--whitе-color-text);
}
/*постоянные клиенты*/
.client-group {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.icon-client-item {
  display: block;
  padding: 12px 36px;
  border: none;
  fill: var(--fill-icon);
  transition: fill 250ms var(--timing-function);
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.icon-client-item:hover,
.icon-client-item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--whitе-color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}
.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 0;
  right: 0;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.icon-close {
  width: 18px;
  height: 18px;
}
/* портфолио*/
.text-hidden {
  visibility: hidden;
  font-size: 0;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .filter-element:not(:first-child) {
  margin-left: 8px;
}

.secondary-button {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px solid transparent;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function), color 250ms var(--timing-function);
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--whitе-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*проекты*/
.projects {
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--second-color);
}
.projects-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}

.projects-item .projects-title {
  letter-spacing: 0.06em;
}

.projects-item .projects-description {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 8px;
}

.projects .projects-item {
  margin: 30px 0 0 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.projects-item .projects-text {
  border: 1px solid var(--projects-bgc);
  border-top: none;
  padding: 20px 24px;
}
.projects-link {
  position: relative;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projets-hover {
  position: relative;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: var(--background-projects);
  transform: translateY(0);
  transition: transform 250ms var(--timing-function);
}
.projects-link:hover .overlay {
  transform: translateY(-100%);
}
.projets-hover-text {
  color: var(--whitе-color-text);
  font-weight: 400;
  padding: 63px 24px;
  letter-spacing: 0.03em;
}
